html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* ,
*::before ,
*::after {
    box-sizing: border-box;
}

.padding {
    padding: 60px 0;
}

.cleafix::before , .cleafix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
    border: 0px solid red;
}


.header{
    background-color: #5385c1;
    
    height: 70px;
    line-height: 70px;
    color: white;
}

.brand{
    float: left;
    text-decoration: none;
}
.brand h1 {
    color: white;
    font-size: 32px;
}

.nav{
    float: right;
}

.nav a {
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 32px;
}

.hero{
    background-color: #5385c1;
    padding: 120px 0;
    text-align: center;
    color: white;
    border: 1px solid black;
}

.hero-heading {
    font-size: 48px;
    margin-bottom: 16px;
}


.hero-text{
    color: azure;
    font-size: 16px;

}

.feature {
   padding: 60px 0;
   border: 1px dashed red;
   overflow: auto;

}
.article-heading {
font-size: 24px;
color: #5385c1;
margin-bottom: 16px;
}

.text {
  color: #777;
  font-size: 16px;
  margin-bottom: 24px;
}


.btn{
    background-color:#5385c1 ;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    display: inline-block;
    text-decoration: none;
}

.col-1-3 {
    width: 30%;
    margin: 1.5%;
    float: left;
}


.team {
    text-align: center;
    background-color:#5385c1  ;
    padding: 120px 0;
    border: 1px solid red;
    overflow: auto;
    
    
}

.section-header h3 {
   font-size: 40px;
   color: white;
   margin-bottom: 12px;

}

.section-header p {
    font-size: 16px;
    color: white;
 }


 .col-1-4 {
     width: 20%;
     margin: 0 1.5%;
     float: left;
     border: 1px solid #82a5d1;
     padding: 32px 0;
 }

 .col-1-4 img {
     width: 140px;
     height: 140px;
     border-radius: 50%;
 }


 .team-item {
     color: white;
 }

 .team-item h4 {
     font-size: 24px;
     margin-bottom: 12px;
 }
 .team-item p {
     font-size: 16px;
     color: #82a5d1;
 }


 .gap {
     margin-top: 20px;
 }

  .blog {
      text-align: center;
      overflow: auto;
      border: 1px solid red;
  }
 .blog .section-header h3 {
     color: #5385c1;
 }
 .blog .section-header p {
    color: #777;
}


.col11 {
    float: left;
    width: 45%;
    margin: 1.5%;
}

.col11 img {
    width: 100%;
    margin-bottom: 24px;
}

